* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    /*the following lines align the card vertically in the center*/
    min-height: 100vh;
    align-items: center;
}

h3 {
    padding-bottom: 0.5em;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 0.5em;
    max-width: 400px;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.2);
}
