body {
    background-color: #02475E;
}

article h2 {
    font-size: 36px;
    color: #FEFECC;
    margin: 12px;
    text-align: center;
}

article p {
    color: #EEE;
    font-family: Arial, sans-serif;
    line-height: 24px;
    padding: 10px;
    text-indent: 30px;
}

article div {
    margin-bottom: 30px;
    border-top: solid 2px #FFF;
    position: relative;
    top: 20px;
}

article span {
    width: 120px;
    text-align: center;
    padding: 3px 5px;
    margin: 0 auto;
    background-color: #FFF;
    display: block;
    position: relative;
    top: -11px;
}