body {
    padding: 2em;
}

.flex-parent {
    /*height: 80vh;*/
    padding: 2em;
    border: 4px solid black;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.flex-child {
    padding: 1em;
    border: 2px solid green;
    font-size: 2em;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-parent.columns {
    flex-wrap: nowrap;
}

.flex-parent.columns .flex-child {
    flex-basis: auto;
}

.flex-parent.columns .flex-child:nth-child(1) {flex-grow: 1}
.flex-parent.columns .flex-child:nth-child(2) {flex-grow: 2}
.flex-parent.columns .flex-child:nth-child(3) {flex-grow: 3}