@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 18px/1.5 PT Sans, sans-serif;
}

/*body {*/
/*    min-height: 100vh;*/
/*    max-width: 1920px;*/
/*    margin: 0 auto;*/
/*}*/

.site-navigation {
    display: flex;
    background-color: #D01919;
    justify-content: space-between;
    color:  #FFFFFF;
    padding: 1em 3em;
}

i {
    display: inline-block;
    padding-right: 0.4em;
}

a i {
    color: #FFFFFF;
}

img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.site-hero {
    height: 600px;
    color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    background-image: url("image/fitness-main.jpg");
    background-size: 100vw;
    background-position: center;
}

.site-nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 4em;
    padding: 1em 3em;
    list-style: none;
    font-size: 1.2em;
}

.site-hero ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

.hero-content h1 {
    padding: 1em 0 0.5em;
    letter-spacing: 12px;
    font-size: 3em;
}

.site-hero p {
    padding-bottom: 2em;
    max-width: 53ch;
    text-align: center;
}

.hero-content a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    background-color: #D01919;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
}

.welcome-section,
.coaches-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-section h2,
.coaches-section h2 {
    font-size: 2em;
}

.welcome-section > p,
.coaches-section > p {
    margin: 2em 0 3em;
    width: 3em;
    font-size: 20px;
    border: 2px solid #D01919;
}

.welcome-container,
.coaches-container {
    max-width: 85em;
    display: flex;
    gap: 10em;
    padding-bottom: 3em;
}

.simple-card,
.img-card {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.simple-card img {
    width: 40%;
    height: auto;
}

.simple-card h3 {
    color: #D01919;
    margin: 1em 0;
}

.coaches-section {
    background-color: #EFEFEF;
    padding-top: 2em;
}

.img-card img {
    border-radius: 0.5em;
}

.img-card h4 {
    padding: 1em 0 0.5em;
}

.img-card h5 {
    color: #D01919;
    padding-bottom: 1em;
}

.img-card p {
    color: #A6A1A5;
}

.site-footer {
    text-align: center;
    background-color: #D01919;
    padding: 0.5em;
}
