html {
    font-family: Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: 50px auto;
}

.site_title,
nav,
nav ul li {
    display: inline-block;
}

header {
    border-bottom: solid 1px black;
    padding: 0.5em;
}

.site_title {
    font-weight: 700;
    font-size: 36px;
}

header nav ul li {
    list-style: none;
}

nav ul li a {
    color: green;
    text-decoration: none;
    margin: 0 1em;
}