@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*padding: 2em;*/
    min-height: 100vh;
    border: 2px solid red;
}

img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

body {
    background-image: url("images/background.jpg");
    background-size: 100vw;
    /*background-position: center;*/
}