html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 30px;
    background-color: rgb(238, 238, 238);
}

.site_title,
nav,
nav ul li {
    display: inline-block;
}

nav {
    float: right;
}

body > header {
    border-bottom: solid 2px black;
    padding: 0.5em;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
}

.site_title {
    font-weight: 700;
    font-size: 36px;
}

header nav ul li {
    list-style: none;
}

nav ul li a {
    color: rgb(0, 102, 0);
    text-decoration: none;
    margin: 0 1em;
}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    padding: 1em;
    border: 2px solid black;
}

blockquote {
    max-width: 40%;
    font-family: Georgia, serif;
    color: gray;
    float: right;
    font-style: italic;
    border-left: 2px solid darkgray;
    padding-left: 1em;
}

.p-float-left {
    width: 50%;
}

blockquote p.author {
    float: right;
}

.escalators_img {
    float: right;
    margin-left: 1em;
}

.forest-img {
    float: left;
    margin-right: 1em;
}

article {
    float: left;
    max-width: 70%;
}

aside {
    float: right;
    max-width: 30%;
}


aside section ul li,
aside section ul li a {
    color: rgb(0, 102, 0);
}

aside section ul li a {
    text-decoration: none;
}

aside h3 {
    font: 1.2em Georgia, serif;
}