@media (max-width: 600px) {
    .home-cta-btn {
        padding: 8px 16px;
    }

    .home-hero {
        flex-direction: column-reverse;
    }
    .home-image1,
    .home-hero-text-container {
        width: 100%;
    }

    .home-cta-btn2 {
        align-self: center;
        width: 35%;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .home-features {
        height: auto;
    }

    .home-feature-card,
    .home-feature-card1,
    .home-feature-card2 {
        align-self: center;
        width: 100%;
    }

    .home-stats {
        display: initial;
    }
}