* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    /*width: 40em;*/
    /*margin: 0 auto;*/
    padding: 2em;
    line-height: 1.5;
}

header,
main,
aside,
footer {
    background-color: rgb(181, 216, 255);
    border-radius: 0.2em;
    padding: 1em;
}

header,
footer {
    flex: 1 1 100%;
    align-items: center;
}

aside {
    flex: 1 1 20%;
}

main {
    flex: 1 1 75%;
}

main ul {
    list-style-position: inside;
    padding-left: 1em;
}

aside ul {
    list-style: none;
}

aside ul li a {
    text-decoration: none;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }
}
