@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.2 Inter;
}

body {
    background: url("images/background.jpg");
}

.site {
    max-width: 1650px;
    margin: 3em auto;
}


.main-container {
    display: flex;
    gap: 2em;
    align-items: stretch;
}

.horizontal-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 2;
}

.vertical-container {
    flex: 1;
}

.horizontal-card {
    display: flex;
    gap: 2em;
    flex: 1;
    align-items: center;
}

.horizontal-card .card-content {
    flex: 3;
}

.horizontal-card .person-image {
    flex: 1;
}

.horizontal-card,
.vertical-card {
    background: #FFFFFF;
    padding: 2em;
}

.card-text {
    color: #595959;
    margin-bottom: 1em;
}

.horizontal-card .person-image img,
.vertical-card .person-image img {
    display: block;
    height: auto;
    clip-path: circle();

}

.horizontal-card .person-image img {
    width: 100%;
    margin: auto;
}


.vertical-card .person-image img {
    width: 100%;
    filter: grayscale(100%)
}

.card-text {
    font-size: 24px;
    padding: 1em 0;
}

.author,
.read-time {
    font-size: 30px;
    font-weight: 500;
}

.author-position {
    font-size: 16px;
    color: #595959;
}


.small-quote {
    font-size: 3em;
    padding-bottom: 0.3em;
}

.large-quote {
    font-size: 6em;
    padding-bottom: 0.6em;
}

.cars-footer {
    display: flex;
    gap: 1em;
}

.cars-footer .person-image {
    flex: 1;
    margin: auto;
}

.cars-footer .read-time {
    flex: 2;
    margin: auto;
}

.vertical-container .card-text {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 4em;
}

.vertical-container .card-text {
    margin-bottom: 0;
}
